<mat-card>
  <form [formGroup]="form" >
    <mat-input-container  class="example-full-width">
        <input style="width:350px"
        matInput placeholder="Email"
        type="email"
        formControlName="email"
        [ngClass]="{'error': isValied('email')}"
        [(ngModel)]="loginData.email"
        >
    </mat-input-container>
    <mat-input-container  class="example-full-width">
        <input style="width:350px"
        matInput placeholder="Password"
        type="password"
        formControlName="password"
        [ngClass]="{'error': isValied('password')}"
        [(ngModel)]="loginData.password"
        >
    </mat-input-container>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
    <!-- <button mat-raised-button color="primary">Login</button> -->
  </form>
</mat-card>
