<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-input-container>
      <input style="width:350px" matInput placeholder="First Name" formControlName="firstName" [ngClass]="{'error': isValied('firstName')}">
    </mat-input-container>
    <mat-input-container>
      <input style="width:350px" matInput placeholder="Last Name" formControlName="lastName" [ngClass]="{'error': isValied('lastName')}">
    </mat-input-container>
    <mat-input-container  class="example-full-width">
        <input style="width:350px" matInput placeholder="Email" type="email" formControlName="email"  [ngClass]="{'error': isValied('email')}">
    </mat-input-container>
    <mat-input-container  class="example-full-width">
        <input style="width:350px" matInput placeholder="Password" type="password" formControlName="password" [ngClass]="{'error': isValied('password')}">
    </mat-input-container>
    <mat-input-container  class="example-full-width">
        <input style="width:350px" matInput placeholder="Confirm Password" type="password" formControlName="ConfirmPassword" [ngClass]="{'error': isValied('ConfirmPassword')}">
    </mat-input-container>
    <br>
    <span *ngIf="form.errors?.mismatchedFields">Passwords do not match</span>
    <br>
    <button mat-raised-button color="primary">Register</button>
  </form>
</mat-card>
