<mat-card>
<mat-input-container>
  <input matInput placeholder="First Name" style="width:350px">
</mat-input-container>
<mat-input-container>
  <input matInput placeholder="Last Name" style="width:350px">
</mat-input-container>
<mat-input-container  class="example-full-width">
    <input matInput placeholder="Email" type="email">
</mat-input-container>
<mat-input-container  class="example-full-width">
    <input matInput placeholder="Password" type="password">
</mat-input-container>
<mat-input-container  class="example-full-width">
    <input matInput placeholder="Confirm Password" type="password">
</mat-input-container>
</mat-card>
